.btn {
    transition: 250ms;

    &:hover {
        background: rgba(235, 71, 139, 0.17);
    }

    &:active {
        background: rgba(235, 71, 139, 0.35);
    }
}

.svg_liked {
    fill: #EB478C;
}