.wrapper {
    a {
        display: inline-block;
        color: var(--contrast);

        img {
            margin-right: 5px;
        }

        h1, h2, h3, h4, h5 {
            color: var(--contrastDark);
        }
    }

    h1, h2, h3, h4, h5 {
        a {
            color: var(--contrastDark);
        }
    }

    p {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    ul li {
        list-style-type: disc;
    }

    ol li {
        list-style-type: decimal;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-left: 0;
        padding-left: 0;
    }

    h1, h2, h3, h4 {
        font-weight: 500;
    }

    h1 {
        margin: .67em 0;
        font-size: 2em;
    }

    h2 {
        margin: .75em 0;
        font-size: 1.5em;
    }

    h3 {
        margin: .83em 0;
        font-size: 1.25em;
    }

    h4, ul, blockquote {
        margin: 1.12em 0;
    }

    ul ul {
        margin-left: 1em;

        li {
            list-style-type: circle;
        }
    }

    li {
        margin: 0.3em 0;
    }

    h5 {
        margin: 1.5em 0;
    }

    h6 {
        margin: 1.67em 0;
    }

    b, strong {
        font-weight: 500;
    }
}