@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .small-interactive {
        @apply rounded-[50%] hover:bg-[rgba(76,140,235,0.05)] shadow-none transition-colors duration-150 cursor-pointer
    }

    .primary-btn {
        @apply bg-contrast rounded flex justify-center items-center text-[white]
        h-8
    }

    .primary-btn:not(.primary-btn_disabled) {
        @apply
        hover:bg-[#418DFF]
        active:bg-[#0B62E3] transition-[250ms]
        hover:shadow-[0px_1px_4px_rgba(39,100,191,0.2)]
    }

    .primary-btn_disabled {
        @apply bg-inputInactive
    }

    .splitter {
        @apply h-[1px] bg-awhite
    }

    .blue-splitter {
        @apply h-[1px] bg-lowBlue
    }

    .btn {
        @apply cursor-pointer text-contrast text-base
    }

    .previews-list {
        @apply grid gap-5 sm:grid-cols-2 lg:grid-cols-3
    }

    /* text btn */
    .text-btn {
        color: #4F87DB;
    
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 5px;
        padding-bottom: 5px;
    
        display: block;
    
        transition: 250ms;
        border-radius: 4px;
    }
    
    .text-btn:hover {
        background: rgba(76, 140, 235, 0.05);
    }
    
    .text-btn:active {
        background: rgba(76, 140, 235, 0.25);
    }

    .styled-swiper .swiper-pagination-bullets {
        
    }

    .edit-ico {
        transition: .3s ease-out;
        mask-image: url("/icons/edit.svg");
        background: #96C0FF;
    }

    .rm-ico-btn__btn {
        transition: .3s ease-out;
        mask-image: url("/icons/trash.svg");
        background: #FFADAD;    
        mask-size: cover;
        width: 15px;
        height: 20px;
    }

    .rm-ico-btn__btn:hover {
        background: #EE5A87;
    }

    .tool-info-field {
        @apply text-info-field text-base
    }
}

@font-face {
    font-family: 'Moderan';
    src: url("/fonts/moderan.ttf");
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("/fonts/roboto_condensed_light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("/fonts/roboto_condensed_regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("/fonts/roboto_condensed_medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto_light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto_regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto_medium.ttf");
    font-weight: 500;
}

:root {
    --inactive-btn: #96C0FF;
    --active-btn: #5D9BF8;
}

body {
    font-size: 16px;
    position: relative;
    z-index: 0;
}

main {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.25rem;
}

h2 {
    font-family: Roboto;
    font-style: normal;
    /* font-weight: 500; */
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.page-content {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    color: #000000;
}